{% extends "admin.html" %}
{% load pybb_tags i18n %}
{% block title %}
Club - Inicio
{% endblock %}
{% block breadcrumb %}
    {% with forum as object %}
        {% include "pybb/breadcrumb.html" %}
    {% endwith %}
{% endblock %}

{% block content %}
{% load widget_tweaks %}
{% load static from staticfiles %}
<!-- Right side column. Contains the navbar and content of the page -->
<aside class="right-side">                
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      Club
      <small>tópicos</small>
    </h1>
    <ol class="breadcrumb">
      <li><a href="#"><i class="fa fa-arrow-circle-right"></i> Club</a></li>
      <li class="active">tópicos</li>
    </ol>
  </section>

  <!-- Main content -->
  <section class="content">
              {% if messages %}
                    {% for message in messages %}
                   
                    <div {% if message.tags == "success" %} class="alert alert-success alert-dismissable" {% endif %}>
                                        <i class="fa fa-thumbs-o-up"></i>
                                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                        </b> {{message}}
                                    </div>
                    {% endfor %}
                    {% endif %}
   <div class='row'>
    <div class='col-md-8'>
  
      <h1><span class="label label-info">{{ forum.name }}</span></h1>
   
    </div>
  </div>
 
<br>
<div class='row'>
<div class="col-md-12">
  
    <div class="forum">
       

        {% include "pybb/pagination.html" %}

        {% include 'pybb/forum_list.html' with forum_list=forum.forums_accessed category='' parent_forum=forum %}

        {% include "pybb/topic_list.html" %}

        {% include "pybb/pagination.html" %}

        {% if user|pybb_may_create_topic:forum %}
            <div class="controls">
                {% include "pybb/_button_new_topic.html" %}
            </div>
        {% endif %}
    </div>
                
 </div>
</div>
  

</section><!-- /.content -->
</aside><!-- /.right-side -->

{% endblock content %}