{% extends "admin.html" %}

{% block title %}
 Diario Médico - Glicemia
{% endblock %}

{% block content %}
{% load widget_tweaks %}
<!-- Right side column. Contains the navbar and content of the page -->
            <aside class="right-side">                
                <!-- Content Header (Page header) -->
                <section class="content-header">
                    <h1>
                        Diario médico
                        <small>glicemia</small>
                    </h1>
                    <ol class="breadcrumb">
                        <li><a href="#"><i class="fa fa-arrow-circle-right"></i> Diario médico</a></li>
                        <li>glicemia</li>
                        <li class="active">ingresar</li>
                    </ol>
                </section>

                <!-- Main content -->
                <section class="content">
               <div class="row">
                          <div class="col-md-3">
                            <div class="box box-primary">
                                <div class="box-header">
                                    <h3 class="box-title">Glicemia</h3>
                                    <div class="box-tools pull-right">
                                       <a href={% url 'account_glycemia' %}> <button class="btn btn-primary "><i class="fa fa-times"></i> Cancelar</button></a>
                                    </div>
                                </div><!-- /.box-header -->
                                <!-- form start -->
                                <form enctype="multipart/form-data" method="post" class="form-register" role="form">{% csrf_token %}
                                    <div class="box-body">
                                         <div class="form-group">
                                             <label>Medición</label>
                                           {{ form.measurement|add_error_class:"class:alert alert-danger"  }}
                                         </div>
                                        <div class="form-group">
                                             <label>Contexto medición</label>
                                           {{ form.measurement_context|add_error_class:"class:alert alert-danger"  }}
                                        </div>
                                        <div class="form-group">
                                             <label>Tipo de sangre</label>
                                            
                                              
                                             {{ form.blood_type|add_error_class:"class:alert alert-danger"  }}
                                         
                                        </div>
                                           
                                        <div class="form-group">
                                             <label>Nota</label>
                                            
                                             {{ form.note|add_error_class:"class:alert alert-danger"  }}
                                           
                                        </div>
                                       
                                                                       
                                    </div><!-- /.box-body -->
                                     <div class="box-footer">
                                        <button type="submit" class="btn btn-primary"><i class="fa fa-floppy-o"></i> Guardar</button>
                                        </div>
                                </form>
                            </div>
                      
                        </div><!-- ./col -->
                </div>
                   
                </section><!-- /.content -->
            </aside><!-- /.right-side -->

{% endblock %}