{% extends "admin.html" %}

{% block title %}
Directorio
{% endblock %}

{% block content %}
{% load widget_tweaks %}
{% load static from staticfiles %}
<!-- Right side column. Contains the navbar and content of the page -->
<aside class="right-side">                
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      Directorio
      <small>todo</small>
    </h1>
    <ol class="breadcrumb">
      <li><a href="#"><i class="fa fa-arrow-circle-right"></i> Directorio</a></li>
      <li class="active">todo</li>
    </ol>
  </section>
   <!-- Main content -->
  <section class="content">
              {% if messages %}
                    {% for message in messages %}
                   
                    <div {% if message.tags == "success" %} class="alert alert-success alert-dismissable" {% endif %}>
                                        <i class="fa fa-thumbs-o-up"></i>
                                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                        </b> {{message}}
                                    </div>
                    {% endfor %}
                    {% endif %}

  <br>
  <div class="row">
  <div class="col-md-3">
  <ul class="nav nav-pills">
  <li><a href={% url 'search_directory_contacts' %}>Contactos</a></li>
  <li class="active"><a href={% url 'search_directory_all' %}>Todos</a></li>
  </ul>
  </div>
  </div>
<div class="row">
<div class="col-md-3">
<form enctype="multipart/form-data" method="POST" action=".">{% csrf_token %} 

 {% csrf_token %}
   <div class="form-group">                                  
        <label>Nombres:</label>
         {{form.first_name}}
    </div>
    <div class="form-group">
    <label>Apellidos:</label>
          {{form.last_name}}
    </div>
<div class="box-footer">
                                        <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i> Buscar</button>
                                        </div>
 
 </form>
 </div>
</div>
<br>
<div class="row">
  <div class="col-md-5">
  <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingThree">
      <h4 class="panel-title">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Filtrar por especialidades
        </a>
      </h4>
    </div>
    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
      <div class="panel-body">
        {% for specialty in specialty_medical %}

      <a href={% url 'search_filter_specialtymedical' specialty.id %}><button class="btn bg-navy btn-flat margin">{{specialty.name}}</button></a>

  {% endfor %}
      </div>
    </div>
  </div>
</div>
  </div>
</div>
    <!-- title row -->
    <div class="row"> 
      <br>  

      <div class="col-md-5">
       
      {% if user_all %}
        <div class="scroll-area" data-spy="scroll" data-target="#myNavbar" data-offset="0">
<br>
      
<div class="box-body table-responsive">
                                    <div id="example2_wrapper" class="dataTables_wrapper form-inline" role="grid"><div class="row"><div class="col-xs-6"></div><div class="col-xs-6"></div></div>
                                      <table aria-describedby="example2_info" id="example2" class="table table-bordered table-hover dataTable">
                                   
                                        
                                        <tbody aria-relevant="all" aria-live="polite" role="alert">
                                         {% for members in user_all %}
                                         {% if not members.is_staff  %} <!-- Para evitar que el usuario davos aparezca en la lista-->
                                         {% if  members.is_active  %} <!-- Para evitar que el usuario davos aparezca en la lista-->
                                         {% if user.id != members.id %} <!--Para evitar que el usuario de la sesión aparezca en la lista -->
                                       
                                            <tr class="odd">
                                                <td class="  sorting_1"> 
                                                <div class="user-panel">
                        <div class="pull-left image">
                          
                              <img src={{members.profileuser.image.url}} class="img-circle" alt="User Image" />
                          
                         </div>
                        <div class="pull-left info">
                            <p>{{members.last_name}}, {{members.first_name}}</p>
                            {% if members.registrationprofile.tipo_usuario == 'medico' %}
                            <p class="label label-info">Especialista</p>
                            <p class="label label-success">{{members.profileuser.medical_specialty.name}}</p>
                            {% else %}
                            <p class="label label-info">Paciente</p>
                            {% endif %}
                                                      
                        </div>
                    </div>
                                                {% if members.registrationprofile.tipo_usuario == 'medico' %}
                                                <td class=" "><a href={% url 'specialist_profile' members.id %}><h3><p class="label label-success"><i class="fa fa-eye"></i> Ver perfil</p></h3></a></td>
                                                {% else %}
                                                <td class=" "><a href={% url 'patient_profile_public' members.id %}><h3><p class="label label-success"><i class="fa fa-eye"></i> Ver perfil</p></h3></a></td>
                                                {% endif %}
                                                <td class=" ">
                                                <a href={% url 'directory_relationship' members.id  %}>
                                                <h4><p lass="label label-default"><i class="fa fa-user-plus pull-left"></i> Enviar solicitud de contacto</p></h4></a></td>  
                                            </tr>
                                           
                                            {% endif %}
                                           {% endif %}
                                          {% endif %}
                                         {% endfor %}
                                                    
                                        </tbody>
                                        </table>
                                      </div>
                                      
      </div>
      </div>
      {% else %}
         <div class="alert alert-info alert-dismissable">
                                        
                                        <b> ¡El usuario {{first_name}} {{last_name}}, no existe en el sistema! </b>
                                        <a href={% url 'search_directory_all' %}>Buscar otro usuario <i class="fa fa-angle-double-right"></i></a>
                                       
                                    </div>
      {% endif %}

        
</div>

</div>

</section><!-- /.content -->
</aside><!-- /.right-side -->

{% endblock %}
<script>
$('body').scrollspy({ target: '#navbar-example' })
</script>